<div class="container">

  <header>
    <h1>
      {{title}}
      
    </h1>
  </header>
  
  <main>
  <!-- this is called interpolation in which the count value is added from component -->
    <h2>Current count is :{{count}}</h2>
  </main>
  <!-- in this button the event binding is done here onclick the function
     is being called -->
  <button (click)="handleReset()">Reset Count</button>
  <button (click)="handleIncrement()">Increse Count</button>
  <button (click)="handleDecrement()">Decrese Count</button>
</div>